<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Chat between {{ chat.user1.username }} and {{ chat.user2.username }}</h2>

  <div id="chat-messages">
    {% for message in messages %}
      <p>{{ message.sender.username }}: {{ message.content }} - {{ message.timestamp }}</p>
    {% endfor %}
  </div>

  <form method="post" action="{% url 'send_message' chat.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
  </form>
</body>
</html>