{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2>Chat</h2>
          </div>

          <div class="card-body">
            <div id="chat-container">
              <div id="messages">
                <!-- Chat messages go here -->
              </div>

              <div id="input-container">
                <form method="post" id="chat-form">
                  {% csrf_token %}
                  <!-- Your chat form fields go here -->
                  <button type="submit" class="btn btn-primary" id="btn">Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block import %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'styles/chat.css' %}" type="text/css">
{% endblock %}












