<div>
    <div class="my-3" style="overflow-y: scroll; height: 600px;">
        {% if messages %}
            <div id="messages" class="container">
                {% for m in messages %}
                    <div class="row">
                        <div>
                            {% if m.user == user %}
                                <p class="u_msg float-end">{{ m.text }}</p><br>
                            {% else %}
                                <p class="msg">{{ m.text }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div>
        <form id="message-form">
            {% csrf_token %}
            {{ form.text }}
            <button type="submit" class="btn_snd" data-url="{% url 'send_message' chat.id %}">Send</button>
        </form>
    </div>
</div>
